.meet {
  padding: 60px 0;
  background-color: #F9F5F2;
}
.meet_head {
  padding-bottom: 60px;
}
.meet_head h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #212121;
  background-color: #FFDEC6;
  border-radius: 16px;
  width: 170px;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center;
}
.meet_head h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  text-align: center;
  color: #1E1E1E;
  width: 550px;
  margin: 50px auto 40px;
}
.meet_head p {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 630px;
  margin-bottom: 70px;
}
.meet_head_btn {
  text-align: center;
}
.meet_head_btn button {
  margin-right: 20px;
}
.meet_boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meet_box {
  padding: 25px;
  background-color: white;
  border-radius: 16px;
  width: 256px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s linear;
}
.meet_box .box_head {
  padding-bottom: 30px;
}
.meet_box .box_text {
  border-bottom: 1px solid rgba(141, 141, 141, 0.8);
  padding-bottom: 15px;
}
.meet_box .box_text h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  color: #1E1E1E;
  padding-bottom: 20px;
}
.meet_box .box_text h1 span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #172327;
}
.meet_box .box_text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #172327;
}
.meet_box .box_list {
  padding-top: 15px;
}
.meet_box .box_list ul {
  list-style-type: none;
}
.meet_box .box_list li {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #172327;
}
.meet_box .box_list li img {
  padding-right: 10px;
}
.meet_box .box_list button {
  margin-top: 10px;
}
.meet .box-2 {
  background-color: #1E1E1E;
}
.meet .box-2 .box_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meet .box-2 .box_text h1 {
  color: white;
}
.meet .box-2 .box_text h1 span {
  color: white;
}
.meet .box-2 .box_text p {
  color: white;
}
.meet .box-2 .box_list li {
  color: white;
}
.meet_box:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}
.meet_box:active {
  transform: scale(1);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.custom {
  padding: 60px 0;
  background: url(custom_bg.png);
}
.custom_main h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 46 0.88px;
  color: #172327;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 80px;
}
.custom_boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom_box {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.06);
  transition: all 0.18s linear;
  width: 240px;
}
.custom_box_start {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.custom_box_start_img img {
  width: 70px;
}
.custom_box_start_text h3 {
  font-size: 17px;
  font-weight: 700;
  color: #1E1E1E;
  padding-bottom: 4px;
}
.custom_box_text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #172327;
  padding: 26px 0;
}
.custom_box:active {
  transform: scale(0.95);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.ask {
  padding: 80px 0 0;
}
.ask_head {
  text-align: center;
}
.ask_head h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #1E1E1E;
  padding: 11px 24px 11px 24px;
  background-color: #F9F5F2;
  border-radius: 16px;
  display: inline;
  border: 1px solid rgba(245, 222, 179, 0.4);
}
.ask_head h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  color: #1E1E1E;
  padding: 50px 0;
}
.ask_head h1 span {
  border-bottom: 2px solid black;
}
.ask_boxs {
  padding-top: 40px;
}
.ask_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 850px;
  margin: 0 auto;
  background-color: #F9F5F2;
  padding: 50px 45px 50px 40px;
  border-radius: 16px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
  transition: all 0.2s linear;
}
.ask_box h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 44px;
  color: #1E1E1E;
}
.ask_box:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.submit {
  padding: 80px 0;
}
.submit_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E1E1E;
  border-radius: 16px;
  padding: 0px 32px 32px;
}
.submit_text h1 {
  font-size: 33px;
  font-weight: 700;
  line-height: 44px;
  color: #FFFFFF;
  padding-bottom: 25px;
  width: 480px;
}
.submit_text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
  width: 400px;
}
.submit_end {
  width: 430px;
  padding-top: 50px;
}
.submit_end input {
  background-color: #1B1B1B;
  border: 2px solid white;
  border-radius: 50px;
  width: 390px;
  height: 42px;
  padding: 0px 18px;
  font-size: 15px;
  font-weight: 550;
  color: white;
  margin-bottom: 25px;
}
.submit_end input[type=submit] {
  width: 131px;
  height: 48px;
  border: none;
  background-color: #FF3C78;
  border-radius: 18px;
}

footer {
  background-color: #1E1E1E;
  padding: 70px 0;
}

.footer_main {
  display: flex;
  justify-content: space-between;
}
.footer_box1 {
  width: 372px;
}
.footer_box1 h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  color: white;
}
.footer_box1 p {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  padding: 28px 0;
  line-height: 24px;
}
.footer_box2 .li_1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.footer_box2 li {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}
.footer_box2 ul {
  list-style-type: none;
}

@media (max-width: 1200px) {
  .container {
    width: 900px !important;
  }
  .meet_box {
    transform: scale(0.9);
  }
  .meet_box:hover {
    transform: scale(0.93) !important;
  }
  .meet_box:active {
    transform: scale(0.9);
  }
  .meet_head h1 {
    font-size: 36px;
    width: 450px;
  }
  .custom_box {
    transform: scale(0.9);
  }
  .custom_box:active {
    transform: scale(0.85);
  }
  .ask_box {
    width: 800px;
  }
  .ask_box h1 {
    font-size: 29px;
  }
  .submit_text h1 {
    font-size: 28px !important;
    line-height: 40px !important;
  }
  .submit_text p {
    font-size: 15px !important;
  }
  .submit_end input[type=submit] {
    height: 40px !important;
    width: 120px !important;
  }
  .submit_end input {
    width: 310px !important;
    height: 40px !important;
    font-size: 14px !important;
  }
  .footer_box1 h1 {
    font-size: 35px !important;
    line-height: 40px !important;
  }
  .footer_box1 p {
    font-size: 15px !important;
    line-height: 22px !important;
    padding: 28px 25px 28px 0;
  }
  .footer_box2 .li_1 {
    font-size: 16px;
    font-weight: 550;
  }
  .footer_box2 li {
    font-size: 15px !important;
    line-height: 38px !important;
  }
}
@media (max-width: 1050px) {
  .container {
    width: 800px !important;
  }
  .head_list li {
    padding-right: 22px !important;
  }
  .head_list a {
    font-size: 16px !important;
  }
  .head_text {
    padding-top: 30px;
  }
  .head_text h1 {
    font-size: 36px !important;
    width: 350px;
  }
  .head_text p {
    width: 400px;
  }
  .head_end {
    text-align: end;
  }
  .head_end img {
    width: 90%;
  }
  .custom_main h1 {
    font-size: 38px;
    padding-bottom: 60px;
  }
  .ask_box {
    width: 715px;
  }
  .ask_box h1 {
    font-size: 27px;
  }
  .submit_text {
    width: 390px;
  }
  .submit_text h1 {
    width: 390px;
  }
  .submit_end {
    width: 300px !important;
  }
  .submit_end input {
    width: 250px !important;
  }
  .submit_end form {
    width: 300px !important;
  }
  .ask_head h1 {
    font-size: 37px;
  }
}
@media (max-width: 910px) {
  .container {
    width: 700px !important;
  }
  .head_list a {
    font-size: 15px !important;
  }
  .head_list li {
    padding-right: 18px !important;
  }
  .head_btn a {
    font-size: 16px !important;
  }
  .custom_boxs {
    flex-direction: column;
  }
  .custom_box {
    transform: scale(1.05);
    margin-bottom: 80px;
  }
  .custom_box:hover {
    transform: scale(1) !important;
  }
  .custom_main h1 {
    font-size: 36px;
    padding-bottom: 80px;
    width: 400px;
  }
  .custom {
    padding-bottom: 0px;
  }
  .ask_box {
    width: 615px;
    padding: 35px 45px 35px 40px;
  }
  .ask_box h1 {
    font-size: 25px;
  }
  .ask_box img {
    width: 4%;
  }
  .meet_boxs {
    flex-direction: column;
  }
  .meet_boxs .meet_box {
    transform: scale(1.05);
    margin: 40px auto;
  }
  .meet {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .meet_head p {
    width: 530px;
  }
  .meet_head h1 {
    font-size: 34px;
    width: 400px;
  }
  .footer_box1 {
    width: 290px;
  }
  .footer_box1 h1 {
    font-size: 30px !important;
    width: 259px;
  }
  .footer_box1 p {
    padding: 28px 0;
    width: 290px;
  }
  .submit_main {
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
  }
  .submit_main .submit_text {
    width: auto;
    margin-top: 30px;
  }
  .submit_main .submit_text h1 {
    font-size: 34px;
    width: 460px;
    text-align: center;
    margin: 0 auto;
  }
  .submit_main .submit_text p {
    font-size: 16px !important;
    margin: 0 auto;
  }
  .submit_main .submit_end {
    width: 430px !important;
  }
  .submit_main .submit_end form {
    width: 430px;
  }
  .submit_main .submit_end input[type=text],
  .submit_main .submit_end input[type=email] {
    width: 390px !important;
  }
}
@media (max-width: 780px) {
  .container {
    width: 500px !important;
  }
  .head_main {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 15px 0;
  }
  .head_main p {
    padding-left: 12px;
  }
  .head_main a {
    font-size: 17px !important;
  }
  .head_main li {
    padding: 0 12px !important;
    border-right: 1px solid white;
  }
  .head_logo {
    display: none;
  }
  .head_btn .btn {
    display: none;
  }
  .meet_head {
    padding-bottom: 40px !important;
  }
  .meet_head p {
    font-size: 15px;
    line-height: 22px;
    width: 420px;
  }
  .meet_head h1 {
    font-size: 33px;
    width: 350px;
    line-height: 41px;
    margin: 40px auto 30px;
  }
  .ask_head h1 {
    font-size: 28px;
    padding-bottom: 10px;
  }
  .ask_box {
    width: 450px;
    flex-wrap: wrap;
    padding: 25px;
  }
  .ask_box h1 {
    font-size: 21px;
  }
  .meet_box {
    transform: scale(1) !important;
    margin: 25px auto !important;
  }
  .submit_main {
    width: 440px;
  }
  .submit_main h1 {
    font-size: 30px !important;
    width: 410px !important;
  }
  .footer_main {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer_main .footer_box1 {
    width: 400px;
    padding: 30px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .footer_main .footer_box1 h1 {
    margin: 0 auto;
    width: 350px;
  }
  .footer_main .footer_box1 p {
    width: 350px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=pricing.css.map */